html,body {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

/* 网络图 */
.graph_container {
    width: 800px;
    height: 800px;
}

.timeline {
    width: 800px;
    height: 80px;
}

.birthyear_container {
    width: 320px;
    height: 300px;
    float: left;
}

#special_person{
    width: 100%;
}

/* .wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 120%;
} */

.flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#letter_box {
    overflow-y:scroll;
    width: 400px;
    height: 800px;
}

.subtitle {
    text-align: center;
}

h1 {
    text-align: center;
}

#node_tooltip{
    position: absolute;           
    text-align: left;
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgb(200,200,200);
    border-radius:5px;
    font-size:0.4rem;
    width: 15rem;;
    padding:8px;
    color:black;
    z-index: 3;
    visibility: hidden;
    opacity: 0.8;
}

#point_tooltip{
    position: absolute;           
    text-align: center;
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgb(200,200,200);
    border-radius:5px;
    font-size:0.4rem;
    width: 12rem;;
    padding:8px;
    color:black;
    z-index: 3;
    visibility: hidden;
    opacity: 0.8;
}

/* 表格 */
td {
    white-space: nowrap;
    text-align:left;
    text-overflow:ellipsis;
    word-break: break-all;
    padding:5px;
}

/* 人物简介 */
.introduction {
    width: 400px;
    height: 500px;
}

.outer{
    width: 300px;
    height: 500px;
    margin: 5px auto;
    /* 设置阴影 */
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.info{
    padding: 20px 18px;
    color: #acaaaa;
    font-size: 14px;
}
/* 设置标题 */
.info .person_name{
    font-size: 20px;
    margin: 0 0 0 0;
    height: 20px;
    color: #000000;
}

.info .line {
    height: 20px;
    color: #000000;
}