html,body {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

/* 网络图 */
.graph_container {
    width: 700px;
    height: 700px;
}

.timeline {
    width: 800px;
    height: 40px;
}

.birthyear_container {
    width: 320px;
    height: 370px;
    float: left;
}

.flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.subtitle {
    text-align: center;
}

h1 {
    text-align: center;
}

#node_tooltip{
    position: absolute;           
    text-align: left;
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgb(200,200,200);
    border-radius:5px;
    font-size:0.4rem;
    width: 15rem;;
    padding:8px;
    color:black;
    z-index: 3;
    visibility: hidden;
    opacity: 0.8;
}

#point_tooltip{
    position: absolute;           
    text-align: center;
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgb(200,200,200);
    border-radius:5px;
    font-size:0.4rem;
    width: 12rem;;
    padding:8px;
    color:black;
    z-index: 3;
    visibility: hidden;
    opacity: 0.8;
}

/* tooltip的表格 */
.tooltip td {
    white-space: nowrap;
    text-align:left;
    text-overflow:ellipsis;
    word-break: break-all;
    padding:5px;
}

/* 人物简介 */
.introduction {
    width: 400px;
    height: 400px;
    margin: 0 0 30px 0;
}

.outer{
    width: 300px;
    height: 100%;
    margin: 5px auto;
    border: 1px solid #cbcbcb;
    /* 设置阴影 */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .3); */
}
.info{
    padding: 2px 18px;
    margin: 0;
    color: #acaaaa;
    font-size: 12px;
}
/* 设置标题 */
.info .person_name{
    font-size: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #000000;
}

.info .line {
    height: 20px;
    color: #000000;
}
 
/* 书信列表 */
.pure-table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    max-height: 600px;
    overflow: hidden;
}
 
.pure-table td,.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    /* overflow: visible; */
    padding: .3em .5em;
    /* width: 80px; */
    height: 20px;
}
 
.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: center;
    vertical-align: center;
}
 
.pure-table td {
    background-color: transparent;
    text-overflow: ellipsis;
    /* white-space: nowrap;
    overflow: hidden; */
}

.letter_title td{
    text-align: center;
}

#letter_box {
    overflow-y:scroll;
    width: 400px;
    height: 800px;
}