html,body {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

/* 网络图 */
.graph_container {
    width: 700px;
    height: 700px;
}

.timeline {
    width: 800px;
    height: 40px;
}

.birthyear_container {
    width: 320px;
    height: 280px;
    float: left;
}

#special_person{
    width: 100%;
}

/* .wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 120%;
} */

.flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#letter_box {
    overflow-y:scroll;
    width: 400px;
    height: 800px;
}

.subtitle {
    text-align: center;
}

h1 {
    text-align: center;
}

#node_tooltip{
    position: absolute;           
    text-align: left;
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgb(200,200,200);
    border-radius:5px;
    font-size:0.4rem;
    width: 15rem;;
    padding:8px;
    color:black;
    z-index: 3;
    visibility: hidden;
    opacity: 0.8;
}

#point_tooltip{
    position: absolute;           
    text-align: center;
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgb(200,200,200);
    border-radius:5px;
    font-size:0.4rem;
    width: 12rem;;
    padding:8px;
    color:black;
    z-index: 3;
    visibility: hidden;
    opacity: 0.8;
}

/* 表格 */
td {
    white-space: nowrap;
    text-align:left;
    text-overflow:ellipsis;
    word-break: break-all;
    padding:5px;
}

/* 人物简介 */
.introduction {
    width: 400px;
    height: 450px;
}

.outer{
    width: 300px;
    height: 100%;
    margin: 5px auto;
    /* 设置阴影 */
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.info{
    padding: 2px 18px;
    margin: 0;
    color: #acaaaa;
    font-size: 14px;
}
/* 设置标题 */
.info .person_name{
    font-size: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #000000;
}

.info .line {
    height: 20px;
    color: #000000;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
 
td,th {
    padding: 0;
}
 
.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}
 
.pure-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
}
 
.pure-table td,.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}
 
.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
 
.pure-table td {
    background-color: transparent;
}